/* navbar styling */
.navbar{
  background-color: #FFC244FF;
}
.logo{
color: #00a082ff;
font-weight: bolder;
font-size: 20pt;
font-family: cursive;
}
.login{
  background-color: #FFC244FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* landingpage styling start */
/* beginning of hero section styling */

.hero-section{
  background-color: #FFC244FF;
  position: relative;
  height: 100vh;
}
.lead{
  font-size: 30pt;
}


.banner{

  background-size: cover;
  height: 100vh;
  background-position: center;
  overflow:hidden;
  position: relative;
}

.banner .waves{
  position: absolute;
  width: 100%;
  bottom:0;
  left:0;
  
}